<div class="row">
  <h1 class="section-title">Book Discussion Questions</h1>
  <hr>
</div>

<div class="row">
  <ol>
    <li>What promises spoken and unspoken have these characters made to one another, to themselves, and to the countries they feel allegiance to?</li>
    <li>How do these self expectations drive or limit their actions?</li>
    <li>What is the significance of this story being set in Shanghai? How does the physical, cultural landscape serve as context for these characters’ lives?</li>
    <li>How do Lina and Wei’s relationships to China and America change throughout time?</li>
    <li>What is Sunny’s relationship with her hometown, and how does it evolve throughout the novel?</li>
    <li>What are the ways in which the characters in this novel each assume the role of a caretaker? Do these different roles and responsibilities shift throughout the novel?</li>
    <li>Lina feels that she may have limited herself in her youth by choosing between the Zhen brothers rather than pursuing a post college plan of her own devising. Do you think she regrets her decision?</li>
    <li>What do you think Lina and Wei’s hopes are for Karen’s future?</li>
    <li>How has Sunny’s perception of her own identity and abilities evolved by the end of the novel?</li>
    <li>“There’s a reason you’re drawn to whatever it is, or whoever it is, you’re falling for,” says Qiang on page 187. “They have something you’re missing.” Lina believes he is talking about her here. Do you agree?</li>
  </ol>
</div>


<div class="row">
  <h1 class="section-title">Cocktail Recipes</h1>
  <hr>
  <%= image_tag 'lina_cocktail.jpg', class: "cocktail" %>
  <%= image_tag 'sunny_cocktail.jpg', class: "cocktail" %>
  <%= image_tag 'wei_cocktail.jpg', class: "cocktail" %>
</div>

<% if false %>
<div class="row">
  <h3 class="section-subtitle">Contact</h3>
  <p>If your book club chooses "What We Were Promised" for its next discussion, feel free to reach out to schedule a skype call!</p>
  <%= render 'contact_form' %>
</div>
<% end %>

<div class='row'>
  <h1 class="section-title">Invite Lucy to Join</h1>
  <hr>
</div>

<div class="row">
  <p>Lucy would love to join your book club discussion through Skype! If you're interested in finding a time for Lucy to attend, please reach out through the <%= link_to 'contact form', contact_path, class: 'lt-link' %>.</p>
</div>