<div class="row">
  <div class="gallery">
    <a href='#' class='gallery__arrow js-gallery-left'>&lt;</a>
    <div class="gallery__images">
      <div class="gallery__image-container --active" style="background-image:url(<%= asset_path('events/_8196222.jpg') %>"></div>
      <div class="gallery__image-container" style="background-image:url(<%= asset_path('events/_8196231.jpg') %>"></div>
      <div class="gallery__image-container" style="background-image:url(<%= asset_path('events/_8196273.jpg') %>"></div>
      <div class="gallery__image-container" style="background-image:url(<%= asset_path('events/_8196277.jpg') %>"></div>
      <div class="gallery__image-container" style="background-image:url(<%= asset_path('events/88491f57-ca68-4275-b445-25ac442c7e87.JPG') %>"></div>
      <div class="gallery__image-container" style="background-image:url(<%= asset_path('events/IMG_1832.JPG') %>"></div>
      <div class="gallery__image-container" style="background-image:url(<%= asset_path('events/IMG_1946.JPG') %>"></div>
      <div class="gallery__image-container" style="background-image:url(<%= asset_path('events/IMG_9097.JPEG') %>"></div>
      <div class="gallery__image-container" style="background-image:url(<%= asset_path('events/IMG_9469.JPEG') %>"></div>
      <div class="gallery__image-container" style="background-image:url(<%= asset_path('events/IMG_9472.JPEG') %>"></div>
    </div>
    <a href='#' class='gallery__arrow js-gallery-right'>&gt;</a>
  </div>
</div>

<div class="row">
  <h2 class="section-title">Upcoming Events</h2>
  <hr>

  <p><strong>Stay tuned for more to come!</strong></p>
  <br>

  <%# events are assumed to be in reverse chronological order - newest first %>
  <div class="events">
    <% @events.reverse_each do |event| %>
      <% next if event[:date] < Date.today %>
      <% extra_classes = [] %>
      <% extra_classes << '--link' if event[:link].present? %>
      <%= content_tag (event[:link] ? :a : :div), class: 'event-calendar ' + extra_classes.join(' '), href: event[:link], target: "_blank" do %>
        <h4><%= event[:date].strftime('%b') %></h4>
        <p><%= event[:date].strftime('%-d') %></p>
      <% end %>
      <%= content_tag (event[:link] ? :a : :div), class: 'event-details ' + extra_classes.join(' '), href: event[:link], target: "_blank" do %>
        <h4 class="event-title"><strong><%= event[:title] %></strong> <%= event[:subtitle] %></h4>
        <% unless event[:time].to_s == '' %>
          <p><%= event[:time] %></p>
        <% end %>
        <p><em><%= event[:location] %></em></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <h2 class="section-title">Past Events</h2>

  <hr>
  <div class="events">
    <% @events.each do |event| %>
      <% next unless event[:date] < Date.today %>
      <% extra_classes = ['--past'] %>
      <% extra_classes << '--link' if event[:link].present? %>
      <%= content_tag (event[:link] ? :a : :div), class: 'event-calendar ' + extra_classes.join(' '), href: event[:link], target: "_blank" do %>
        <h4><%= event[:date].strftime('%b') %></h4>
        <p><%= event[:date].strftime('%-d') %></p>
      <% end %>
      <%= content_tag (event[:link] ? :a : :div), class: 'event-details ' + extra_classes.join(' '), href: event[:link], target: "_blank" do %>
        <h4 class="event-title"><strong><%= event[:title] %></strong> <%= event[:subtitle] %></h4>
        <% unless event[:time].to_s == '' %>
          <p><%= event[:time] %></p>
        <% end %>
        <p><em><%= event[:location] %></em></p>
      <% end %>
    <% end %>
  </div>
</div>

<% if true %>
<% @events.each do |event| %>
  <% if event[:schema_location] %>
    <script type="application/ld+json">
      <%= render 'jsonld/event.json', event: event %>
    </script>
  <% end %>
<% end %>
<% end %>