<div class="row">
  <h2 class="section-title">Upcoming Events</h2>
  <hr>

  <p><strong>Stay tuned for more to come!</strong></p>

  <% @events.each do |event| %>
    <div class="one-event">
      <div class="event-calendar">
        <h4><%= event[:month].slice(0, 3) %></h4>
        <p><%= event[:day] %></p>
      </div>
      <div class="event-details">
        <h4 class="event-title"><strong><%= event[:title] %></strong><%= event[:subtitle] %></h4>
        <p><%= "#{event[:month]} #{event[:day]}" %></p>
        <% unless event[:time].to_s == '' %>
          <p><%= event[:time] %></p>
        <% end %>
        <p><em><%= event[:location] %></em></p>
      </div>
    </div>
  <% end %>
</div>
