<div class="row">
  <h2 class="section-title">Upcoming Events</h2>
  <hr>

  <p><strong>Stay tuned for more to come!</strong></p>
  <br>

  <% @events.each do |event| %>
    <%= content_tag (event[:link] ? :a : :div), class: event[:date] < Date.today ? "one-event --past" : "one-event", href: event[:link] do %>
      <div class="event-calendar">
        <h4><%= event[:date].strftime('%b') %></h4>
        <p><%= event[:date].strftime('%-d') %></p>
      </div>
      <div class="event-details">
        <h4 class="event-title"><strong><%= event[:title] %></strong> <%= event[:subtitle] %></h4>
        <% unless event[:time].to_s == '' %>
          <p><%= event[:time] %></p>
        <% end %>
        <p><em><%= event[:location] %></em></p>
      </div>
    <% end %>
  <% end %>
</div>
