<%#
<div class="cover">
</div>
%>

<%= image_tag 'WWWP.png', class: 'cover' %>

<% if false %>
<div class="row --preorder">
  <h3 class='section-subtitle'>Enter giveaway for a free advance copy of the book</h3>
  <div class="button-container --emphasize">
    <%= link_to 'Enter', 'https://www.goodreads.com/giveaway/enter_choose_address/262909-what-we-were-promised', class: 'button --emphasize' %>
  </div>
</div>
<% end %>

<div class="row --preorder">
  <h3 class="section-subtitle">Pre-order a copy</h3>
  
  <% if false %>
  <div class="button-container">
    <%= link_to 'View on GoodReads', "https://www.goodreads.com/book/show/32349400-what-we-were-promised", class: 'button' %>
    <%= link_to 'Purchase at Amazon', "https://www.amazon.com/gp/product/0316437182/", class: 'button' %>
    <%= link_to 'Purchase at Barnes & Noble', "https://www.barnesandnoble.com/w/what-we-were-promised-lucy-tan/1127395858", class: 'button' %>
  </div>
  <% end %>

  <table class='links-table'>
    <tbody>
      <tr>
        <td><%= link_to 'View on GoodReads', "https://www.goodreads.com/book/show/32349400-what-we-were-promised", class: 'button --wide' %></td>
      </tr>
      <tr>
        <td><%= link_to 'Purchase at IndieBound', "https://www.indiebound.org/book/9780316437189", class: 'button --wide' %></td>
      </tr>
      <tr>
        <td><%= link_to 'Purchase at Barnes & Noble', "https://www.barnesandnoble.com/w/what-we-were-promised-lucy-tan/1127395858?ean=9780316437189", class: 'button  --wide' %></td>
      </tr>
      <tr>
        <td><%= link_to 'Purchase at Amazon', "https://www.amazon.com/gp/product/0316437182?tag=hacboogrosit-20", class: 'button --wide' %></td>
      </tr>
      <tr>
        <td><%= link_to 'Purchase at iBooks', "https://itunes.apple.com/us/book/what-we-were-promised/id1308142947?mt=11", class: 'button --wide' %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row --reviews">
  <hr class="__break">
  <% @quotes.each do |quote| %>
    <div class="quote">
      <p class="__quote-text"><%= quote[:text] %></p>
      <p class="__quote-author"><%= quote[:author] %></p>
    </div>
  <% end %>
</div>