<div class="row">
  <h1 class='section-title'>Mentions in the Media</h1>
  <hr>
</div>

<div class="row">
  <div class="press-grid">
    <% @news.each do |item| %>
      <% unless item[:img_cover] %>
        <div class="press-grid__img-container <%= "--black" if item[:background] == 'black' %>">
          <div class="press-grid__img-contain" style='background:url("<%= item[:img_src] %>") no-repeat center / contain' title="<%= item[:source] %>"></div>
          <!-- <img src="<%= item[:img_src] %>" alt="<%= item[:source] %>" class="press-grid__img"> -->
        </div>
      <% else %>
        <div class='press-grid__img-cover' style="background-image:url(<%= item[:img_src] %>)"></div>
      <% end %>
      <a href="<%= item[:link] %>" target="_blank" class='press-grid__link'>
        <h6 class='press-grid__title'><%= item[:title] %></h6>
        <p class="press-grid__source">
          <%= item[:source] %>
          <% unless item[:date].nil? %>
            <span class="press-grid__date"><%= item[:date].strftime('%b %-d, %Y') %></span>
          <% end %>
        </p>
      </a>
    <% end %>
  </div>
</div>


<div class="row">
  <h1 class='section-title'>Interviews</h1>
  <hr>
</div>

<div class="row">
  <div class="press-grid">
    <% @interviews.each do |item| %>
      <% unless item[:img_cover] %>
        <div class="press-grid__img-container">
          <div class="press-grid__img-contain" style="background:url(<%= item[:img_src] %>) white no-repeat center / contain"></div>
          <!-- <img src="<%= item[:img_src] %>" alt="<%= item[:source] %>" class="press-grid__img"> -->
        </div>
      <% else %>
        <div class='press-grid__img-cover' style="background-image:url(<%= item[:img_src] %>)"></div>
      <% end %>
      <a href="<%= item[:link] %>" target="_blank" class='press-grid__link'>
        <h6 class='press-grid__title'><%= item[:title] %></h6>
        <p class="press-grid__source">
          <%= item[:source] %>
          <% unless item[:date].nil? %>
            <span class="press-grid__date"><%= item[:date].strftime('%b %-d, %Y') %></span>
          <% end %>
        </p>
      </a>
    <% end %>
  </div>
</div>

