<div class="row">
  <h1 class="section-title">Essays and Articles</h1>
  <hr>
</div>

<div class="row">
  <div class="press-grid">
    <% @articles.each do |item| %>
      <%= render 'press_item', item: item %>
    <% end %>
  </div>
</div>

<div class="row">
  <h1 class='section-title'>Short Fiction</h1>
  <hr>
</div>

<div class="row">
  <div class="other-work">
    <div id="mcsweeneys-container">
      <%= image_tag 'mcsweeneys.png', class: '__thumb' %>
    </div>
    <div class="__text">
      <h3 class="__header"><span class="__title">"Corpse Flower"</span>McSweeney's Quarterly Issue 55 (forthcoming)</h3>
      <p class="__description">"We believed in our parents like we believed in God. There was no proof they could protect us from anything, but it was nice to have someone to call on."</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>
  
  <div class="other-work">
    <%= image_tag 'safety_of_numbers.jpg', class: '__thumb' %>
    <div class="__text">
      <h3 class="__header"><span class=__title>"Safety of Numbers"</span>Ploughshares (Winter 2015-16)</h3>
      <p class='__description'>"My mother is from northern China, a woman with a small face and a big voice and hair that springs from her head so fiercely you’re sure it’s about to have a word with you."</p>
      <p class='__note'>
        Winner of Ploughshares' 2015 Emerging Writer's Contest
        <br>
        <a href="http://petrichorzine.com/share.php?trackid=15" class="std-link">Audio version available from Petrichor</a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <hr>

  <div class="other-work">
    <%= image_tag 'cachito.jpg', class: '__thumb' %>
    <div class="__text">
      <h3 class="__header"><span class=__title>"Cachito"</span>Sixfold Journal (Fall 2013)</h3>
      <p class="__description">"The men we met at Cachito called us girls, or sometimes ladies, and also chickies, broads, biddies, moon-faces and jailbait but not kids--never kids. We had to learn their speech to mask our ages."</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>

  <div class="other-work">
    <%= image_tag 'the_money_shot.jpg', class: '__thumb' %>
    <div class="__text">
      <h3 class="__header"><span class=__title>"The Money Shot"</span>Asia Literary Review, Vol. 19 (Spring 2011)</h3>
      <p class="__description">"'Is that Mao Zedong?' Davis asked no one in particular. 'Is he holding a bottle of... Belvedere?' 'It's a party theme, not propaganda,' Corinne answered from behind him."</p>
      <p class="__note">Editor's Choice</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>

  <div class="other-work">
    <%= image_tag 'new_house_rules.jpg', class: '__thumb' %>
    <div class="__text">
      <h3 class="__header"><span class=__title>"New House Rules"</span>Paterson Literary Review, Issue 39 (Winter 2011)</h3>
      <p class="__description">"I wanted to climb up on that big machine with more extractable parts to it than a pocketknife. Be part of a thing that could make people feel panicked and safe all at once when they saw its red and white holiday lights come sweeping down the street."</p>
    </div>
  </div>
</div>

