<div class="header">
  <h1><%= link_to 'LUCY TAN', root_path %></h1>
  <div class="__links">
    <ul>
      <%= render 'layouts/header_link', link: 'about', active: local_assigns[:active_link], children: ['bio', 'currently_reading'] %>
      <%= render 'layouts/header_link', link: 'what_we_were_promised', active: local_assigns[:active_link] %>
      <%= render 'layouts/header_link', link: 'news', active: local_assigns[:active_link] %>
      <%= render 'layouts/header_link', link: 'events', active: local_assigns[:active_link] %>
      <%= render 'layouts/header_link', link: 'other_work', active: local_assigns[:active_link] %>
      <%= render 'layouts/header_link', link: 'contact', active: local_assigns[:active_link] %>
    </ul>
  </div>
</div>