<header>
  <h1><%= link_to 'LUCY TAN', root_path %> <span class="header__desc">author</span></h1>
  <div id="header-bars">
    <i class="fa fa-bars fa-2x"></i>
  </div>
  <div class="__links">
    <ul>
      <%= render 'layouts/header_link', link: 'about', active: local_assigns[:active_link], parent_link: 'bio', children: ['bio', 'currently_reading'] %>
      <%= render 'layouts/header_link', link: 'book', active: local_assigns[:active_link] %>
      <%= render 'layouts/header_link', link: 'news', active: local_assigns[:active_link] %>
      <%= render 'layouts/header_link', link: 'events', active: local_assigns[:active_link] %>
      <%= render 'layouts/header_link', link: 'other_work', active: local_assigns[:active_link] %>
      <%= render 'layouts/header_link', link: 'contact', active: local_assigns[:active_link] %>
    </ul>
  </div>
</header>