<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Lucy Tan - Debut Author of What We Were Promised" %></title>
    <meta name='description' content=<%= @description || 'Lucy Tan is the author of "What We Were Promised", available now from Little, Brown (Hachette Book Group). Though raised in the suburbs of New Jersey, she has spent most of the past ten years in New York City and Shanghai. Her stories explore these and other spaces, with special focus on characters who have a shifting sense of what they call "home."' %>>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65248332-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-65248332-1');
    </script>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400" rel="stylesheet"> 

    <% if false %>
      <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Crimson+Text|Hind:300,400" rel="stylesheet"> 
    <% end %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/favicons' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if flash.any? %>
      <% puts flash.inspect %>
      <div id="flash-messages">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "__#{name}" %>
        <% end -%>
      </div>
    <% end %>

    <div class="main-container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
</body>
</html>